<main>
  <ng-container *ngIf="!loaded; else templeteA">Loading...</ng-container>
  <ng-template #templeteA>
    <ng-container *ngIf="!todos[0]">
      Ops, there are no completed tasks!
    </ng-container>
    <ng-container *ngIf="todos[0]">
      <ng-container *ngIf="todos.find(cerca) && !todos.find(cerca2)">
        Ops, there are no completed tasks!
      </ng-container>
    </ng-container>
    <div *ngFor="let task of todos; let i = index">
      <div *ngIf="task.completed">-{{ task.title }}</div>
    </div>
  </ng-template>
</main>
