<main>
  <ng-container *ngIf="!loaded; else templeteA"><p>Loading...</p></ng-container>
  <ng-template #templeteA>
    <div>
      <div class="aggiungi">
        <ng-container *ngIf="!todos[0]">
          <p>Ops, there are no activites!</p>
        </ng-container>
        <ng-container *ngIf="todos[0]">
          <ng-container *ngIf="todos.find(cerca) && !todos.find(cerca2)">
            Ops, there are no activites!
          </ng-container>
        </ng-container>
      </div>
      <div class="aggiungi">
        <input type="text" [(ngModel)]="task" />
        <button type="button" (click)="addNewTask(task)">Add task</button>
      </div>
    </div>
    <div class="tasks">
      <div *ngFor="let task of todos; let i = index">
        <div *ngIf="!task.completed">
          <div class="todo">
            <p>-{{ task.title }}</p>
            <svg
            (click)="taskDone(task.id, i)"
              xmlns="http://www.w3.org/2000/svg"
              height="30"
              width="26"
              viewBox="0 0 448 512"
            >
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
              <path
                fill="#2ad71d"
                d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</main>
