main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;

}
.aggiungi {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.todo {
    display: flex;
    align-items: center;
    margin-top: 10px;


}
.tasks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
svg {
    cursor: pointer;
    margin-inline-start: 5px;
}
button {
    background-color: #1E90FF;
    border: none;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
    // margin-inline-start: 10px;
}
ng-container > p {

}
